:root {
  --error-height: 20px;
}
.form {
  text-align: left;
}
.form-vertical > * {
  display: block;
}

.form-group {
  margin-bottom: 15px;
}
.form-group > *:last-child:not(.form-group-error) {
  margin-bottom: var(--error-height);
}

.form-group-error {
  height: var(--error-height);
}

input {
  width: 100%;
}

button[type="submit"] {
  margin: auto;
}
