.todo {
	list-style: none;
	display: flex;
	flex-flow: row nowrap;
	margin-bottom: 15px;
}

.todo.done > .todo-text {
	text-decoration: line-through;
}

.todo > .delete-todo-btn {
	margin-left: auto;
}
